@import "tailwindcss";
@import "@nuxt/ui";
@import "maplibre-gl/dist/maplibre-gl.css";

:root {
    --voivodeship-fill: #94add6;
    --voivodeship-fill-hover: #5c7caa;
    --voivodeship-fill-active: #3b4a76;
    --voivodeship-stroke: #fcd34d;
    --voivodeship-stroke-muted: transparent;
    --voivodeship-shadow-hover: #4b6ba659;
}

.dark,
.dark-mode,
[data-theme="dark"] {
    --voivodeship-fill: #7c86ff;
    --voivodeship-fill-hover: #949eff;
    --voivodeship-fill-active: #afb8ff;
    --voivodeship-stroke: #d1bcff;
    --voivodeship-stroke-muted: transparent;
    --voivodeship-shadow-hover: #9da7ff7d;
}

/* MapLibre popup custom styling - remove default padding and background */
.maplibregl-popup-content {
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
}

.maplibregl-popup-tip {
    display: none;
}
