@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --voivodeship-fill: #94add6;
    --voivodeship-fill-hover: #5c7caa;
    --voivodeship-fill-active: #3b4a76;
    --voivodeship-stroke: #fcd34d;
    --voivodeship-stroke-muted: transparent;
    --voivodeship-shadow-hover: #4b6ba659;
}

.dark,
.dark-mode,
[data-theme="dark"] {
    --voivodeship-fill: #3f4eb6;
    --voivodeship-fill-hover: #5567db;
    --voivodeship-fill-active: #7485ef;
    --voivodeship-stroke: #ba84f5;
    --voivodeship-stroke-muted: #ba84f540;
    --voivodeship-shadow-hover: #8e5cf080;
}

/* MapLibre popup custom styling - remove default padding and background */
.maplibregl-popup-content {
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
}

.maplibregl-popup-tip {
    display: none;
}
