services:
  martin:
    image: ghcr.io/maplibre/martin:1.3.1
    ports:
      - "3001:3001"
    env_file: ./backend/martin/.env
    command: ["--config", "/config/martin.yaml"]
    volumes:
      - ./backend/martin:/config:ro

  backend:
    build:
      context: ./backend
      target: prod
    ports:
      - "8000:8000"
    env_file: ./backend/.env
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: ./frontend
      target: prod
    ports:
      - "3000:3000"
    env_file: ./frontend/.env
